/* InputSearch.module.css */
.inputSearch {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.error {
    border-color: #ffffff;
}
.errorMessage {
    font-size: 14px;
    color: #ffffff;
}