.input {
  width: 100%;
  height: 60px;

  padding: 18px 20px;

  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 2px;

  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;

  outline: none;
}

.input::placeholder {
  color: rgba(229, 231, 235, 0.6); /* gray200 느낌 */
}

.input:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.input:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
