/* DropDown.module.css */
.wrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  height: 46px;
  background-color: #000;
  color: #fff;
  padding: 10px 44px 10px 10px; /* right padding for icon */
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  border: 1px solid rgba(238, 238, 238, 0.7);
}

.select:hover {
  border-color: rgba(238, 238, 238, 1);
}

.select:focus {
  outline: none;
}

.select:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}